$html-tag        = #f92672
$html-property   = #a6e22c
$html-value      = #e6db70
$html-comment    = #c28639
$html-text       = #c8c6bc
$html-background = #000000
$html-dotted     = #201e1c
$html-number     = #6b655a
$html-selection  = #218a26

$styl-tag               = #ac5c92
$styl-class             = #ddc600
$styl-id                = #ddc600
$styl-property-selector = #ddc600
$styl-property-set      = #d5b7ff
$styl-value-string      = #da2063
$styl-value-number      = #ff196a
$styl-var               = #0e8eeb
$styl-operator          = #f9ff43
$styl-condition         = #f9ff43
$styl-selection         = #ff483e
$styl-background        = #103349
$styl-dotted            = #325062
$styl-text              = #f8f8e3
$styl-number            = #84959d
$styl-comment           = #0e615e
		
$font-style  = normal
$font-weight = 300
$font-size   = 14px
$font-family = Courier New, serif